html, body {
    width:50%;
    height:50%;
    margin:0;
    padding:0;
    text-align:center;
}
.table {
    display:table;
    width:100%;
    height:100%;
    border:1px solid #000;
    margin:100px 100px 100px 400px;
}
.row {
    /*display:table-row;
    height:20%*/
    display:table-row;
   width:auto;
   text-align:center;
   background-color:White;
   background-color:#00BCCE;
}
.cell{
   /* display:table-cell;
    width:10%;
    height:100%;
    border:1px solid #CCC;*/

    /*float:right;*/
    text-align:center;
    display:table-cell;
    width:50px;
    height:50px;
    border:solid 1px;
    padding: 10px 10px 10px 10px;
    font-size:larger;
}
./*cell2 > img {
    width:100%;
    height:auto;
}*/